html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #181b1d;
}

.name-div {
  height: 100vh;
  background-color: #181b1d;
  /* #0d2535 */
}

.about-div {
  height: 100vh;
  background-color: #202f45;
}

h1 {
  font-family: 'Inter', sans-serif;
}

p {
  font-family: 'Fira Mono', monospace;
}

a {
  font-family: 'Fira Mono', monospace;
}

.red-color {
  color: #fa4454;
}

.red-bg {
  background-color: #fa4454;
}

.beige-color {
color: #F3EED9;
}

.gray-color {
  color: #ced0d1;
}

/* .project-bg {
  background-color: #181b1d;
} */

li {
  font-family: 'Fira Mono', monospace;
  list-style: none;
}

li:hover {
  transform: translateY(5%);
  transition-delay: .1s;
}

.name-info {
  color: #949798;
  /* #87a0b0 */
}

.border-bottom {
  border-bottom: 1px solid rgb(246, 246, 246);
}